USE [master]
GO
/****** Object:  Database [PowerBI_Reports]    Script Date: 7/15/2025 4:27:30 PM ******/
CREATE DATABASE [PowerBI_Reports]
 CONTAINMENT = NONE
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PowerBI_Reports].[dbo].[sp_fulltext_database] @action = 'disable'
end
GO
USE [PowerBI_Reports]
GO
/****** Object:  User [sakshath_usr]    Script Date: 7/15/2025 4:27:31 PM ******/
CREATE USER [sakshath_usr] FOR LOGIN [sakshath_usr] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [sakshath_usr]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [sakshath_usr]
GO
ALTER ROLE [db_datareader] ADD MEMBER [sakshath_usr]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [sakshath_usr]
GO
/****** Object:  View [dbo].[tb]    Script Date: 7/15/2025 4:27:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create view [dbo].[tb] as
WITH FilteredAccountData AS (
SELECT
a.AccountID,
a.BalanceDate,
a.AccountBalance,
d.Currency,
d.AccAgenceCode,
d.ClientBK,
CASE 
WHEN a.AccountBalance > 0 THEN 'Debited'
WHEN a.AccountBalance < 0 THEN 'Credited'
ELSE 'No Change'
END AS BalanceType

FROM [DataWarehouse].[dbo].[AccountFact] a
LEFT JOIN [DataWarehouse].[dbo].[AccountDim] d ON a.AccountID = d.AccountID
WHERE a.AccountBalance <> 0
AND a.BalanceDate = DATEADD(DAY, -1, DATEADD(MONTH, DATEDIFF(MONTH, 0, a.BalanceDate) + 1, 0))
AND a.BalanceDate >= '2023-12-31'
--AND a.AccountID = '1272222'

),
JoinedData AS (
SELECT
fa.AccountID,
fa.BalanceDate,
fa.AccountBalance,
fa.Currency,
fa.AccAgenceCode,
fa.ClientBK,
fa.BalanceType, 
sk.AccountNumber,
sk.BranchCode,
b.BranchName,
b.Zone,
b.Type,
b.City,
b.Province,
c.AccountOfficerName,
c.CliSegmentCode,
s.SegmentCode,
s.sub_segmen_code,
s.segment_desc

FROM FilteredAccountData fa
LEFT JOIN [DataWarehouse].[dbo].[AccountSK] sk ON fa.AccountID = sk.AccountID
LEFT JOIN [DataWarehouse].[dbo].[Branch] b ON sk.BranchCode = b.BranchCode
LEFT JOIN [DataWarehouse].[dbo].[Client_dim] c ON fa.ClientBK = c.ClientBK
LEFT JOIN [DataWarehouse].[dbo].[Segments] s ON c.CliSegmentCode = s.Sub_Segmen_Code
LEFT JOIN [DataWarehouse].[dbo].[BKNOM] nom ON nom.AGE = fa.AccAgenceCode
AND nom.CACC = s.SegmentCode
)
SELECT *
FROM JoinedData
GO
/****** Object:  View [dbo].[vw_demo]    Script Date: 7/15/2025 4:27:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_demo]
--WITH SCHEMABINDING -- This binds the view to the schema of the underlying tables
AS
WITH FilteredAccountData
AS (
SELECT a.AccountID,
a.BalanceDate,
a.AccountBalance,
d.Currency,
d.AccAgenceCode,
d.ClientBK,
CASE 
WHEN a.AccountBalance > 0
THEN 'Debited'
WHEN a.AccountBalance < 0
THEN 'Credited'
ELSE 'No Change'
END AS BalanceType
FROM [DataWarehouse].[dbo].[AccountFact] a
LEFT JOIN [DataWarehouse].[dbo].[AccountDim] d ON a.AccountID = d.AccountID
WHERE a.AccountBalance <> 0
AND a.BalanceDate = DATEADD(DAY, - 1, DATEADD(MONTH, DATEDIFF(MONTH, 0, a.BalanceDate) + 1, 0))
AND a.BalanceDate >= '2023-12-31'
AND a.AccountID = '1272222'
),
JoinedData
AS (
SELECT fa.AccountID,
fa.BalanceDate,
fa.AccountBalance,
fa.Currency,
fa.AccAgenceCode,
fa.ClientBK,
fa.BalanceType,
sk.AccountNumber,
sk.BranchCode,
b.BranchName,
b.Zone,
b.Type,
b.City,
b.Province,
c.AccountOfficerName,
c.CliSegmentCode,
s.SegmentCode,
s.sub_segmen_code,
s.segment_desc,
nom.LIB1,
nom.LIB2
FROM FilteredAccountData fa
LEFT JOIN [DataWarehouse].[dbo].[AccountSK] sk ON fa.AccountID = sk.AccountID
LEFT JOIN [DataWarehouse].[dbo].[Branch] b ON sk.BranchCode = b.BranchCode
LEFT JOIN [DataWarehouse].[dbo].[Client_dim] c ON fa.ClientBK = c.ClientBK
LEFT JOIN [DataWarehouse].[dbo].[Segments] s ON c.CliSegmentCode = s.Sub_Segmen_Code
LEFT JOIN [DataWarehouse].[dbo].[BKNOM] nom ON nom.AGE = fa.AccAgenceCode
AND nom.CACC = s.SegmentCode
)
SELECT *
FROM JoinedData;
GO
/****** Object:  View [dbo].[vw_FilteredAccountData]    Script Date: 7/15/2025 4:27:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  
 create view [dbo].[vw_FilteredAccountData] as 
  WITH FilteredAccountData AS (
SELECT
a.AccountID,
a.BalanceDate,
a.AccountBalance,
d.Currency,
d.AccAgenceCode,
d.ClientBK,
CASE 
WHEN a.AccountBalance > 0 THEN 'Debited'
WHEN a.AccountBalance < 0 THEN 'Credited'
ELSE 'No Change'
END AS BalanceType
FROM (
SELECT AccountID, BalanceDate, AccountBalance
FROM [DataWarehouse].[dbo].[AccountFact]
WHERE AccountBalance <> 0
AND BalanceDate = DATEADD(DAY, -1, DATEADD(MONTH, DATEDIFF(MONTH, 0, BalanceDate) + 1, 0))
AND BalanceDate >= '2023-12-31' 
--AND AccountID = '1272222'
) a
LEFT JOIN (
SELECT AccountID, Currency, AccAgenceCode, ClientBK FROM [DataWarehouse].[dbo].[AccountDim]
) d 
ON a.AccountID = d.AccountID
),
 
 
JoinedData AS (
SELECT
fa.AccountID,
fa.BalanceDate,
fa.AccountBalance,
fa.Currency,
fa.AccAgenceCode,
fa.ClientBK,
fa.BalanceType, 
sk.AccountNumber,
sk.BranchCode,
b.BranchName,
b.Zone,
b.Type,
b.City,
b.Province,
c.AccountOfficerName,
c.CliSegmentCode,
s.SegmentCode,
s.sub_segmen_code,
s.segment_desc
FROM FilteredAccountData fa
Left JOIN [DataWarehouse].[dbo].[AccountSK] sk ON fa.AccountID = sk.AccountID
Left JOIN [DataWarehouse].[dbo].[Branch] b ON sk.BranchCode = b.BranchCode
Left JOIN [DataWarehouse].[dbo].[Client_dim] c ON fa.ClientBK = c.ClientBK
Left JOIN [DataWarehouse].[dbo].[Segments] s ON c.CliSegmentCode = s.Sub_Segmen_Code
)
 
 
SELECT final.*, nom.LIB1, nom.LIB2
FROM JoinedData final
Left JOIN [DataWarehouse].[dbo].[BKNOM] nom
ON nom.AGE = final.AccAgenceCode
AND nom.CACC = final.SegmentCode
;
GO
/****** Object:  StoredProcedure [dbo].[proc_Accountfact]    Script Date: 7/15/2025 4:27:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[proc_Accountfact]
AS
BEGIN
    SET NOCOUNT ON;

    -- Calculate the target BalanceDate
    DECLARE @TargetBalanceDate DATE;
    SET @TargetBalanceDate = DATEADD(DAY, -1, DATEADD(MONTH, DATEDIFF(MONTH, 0, GETDATE()) + 1, 0));

    -- Print the target BalanceDate for debugging
    PRINT 'Target BalanceDate: ' + CAST(@TargetBalanceDate AS NVARCHAR(50));

    -- Common Table Expression to filter AccountFact early
    WITH FilteredAccountFact AS (
        SELECT AccountID, BalanceDate, AccBalanceUSD
        FROM [DataWarehouse].[dbo].[AccountFact]
        WHERE AccBalanceUSD <> 0
        AND BalanceDate = @TargetBalanceDate
        AND BalanceDate >= '2023-12-31'
    )
    SELECT 
        a.AccountID,
        a.BalanceDate,
        a.AccBalanceUSD,
        Ln.AccountNatureCode,
        d.Currency,
        d.AccAgenceCode,
        d.ClientBK,
        CASE 
            WHEN a.AccBalanceUSD > 0 THEN 'Debited'
            WHEN a.AccBalanceUSD < 0 THEN 'Credited'
            ELSE 'No Change'
        END AS BalanceType,
        sk.AccountNumber,
        sk.BranchCode,
        b.BranchName,
        b.Zone,
        b.Type,
        b.City,
        b.Province,
        c.AccountOfficerName,
        c.CliSegmentCode,
        s.SegmentCode,
        s.sub_segmen_code,
        s.segment_desc
    FROM FilteredAccountFact a
    INNER JOIN [DataWarehouse].[dbo].[AccountDim] d ON a.AccountID = d.AccountID
    INNER JOIN [DataWarehouse].[dbo].[LoanAccountDim] Ln ON d.AccountNumber = Ln.AccountNumber
    INNER JOIN [DataWarehouse].[dbo].[AccountSK] sk ON a.AccountID = sk.AccountID
    INNER JOIN [DataWarehouse].[dbo].[Branch] b ON sk.BranchCode = b.BranchCode
    INNER JOIN [DataWarehouse].[dbo].[Client_dim] c ON d.ClientBK = c.ClientBK
    INNER JOIN [DataWarehouse].[dbo].[Segments] s ON c.CliSegmentCode = s.Sub_Segmen_Code
    WHERE Ln.AccountNatureCode IN ('004', '005');
END
GO
