USE [master]
GO
/****** Object:  Database [ReportProduction]    Script Date: 7/15/2025 4:31:01 PM ******/
CREATE DATABASE [ReportProduction]
 CONTAINMENT = NONE
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ReportProduction].[dbo].[sp_fulltext_database] @action = 'disable'
end
GO
USE [ReportProduction]
GO
/****** Object:  User [ReportBuilder]    Script Date: 7/15/2025 4:31:02 PM ******/
CREATE USER [ReportBuilder] FOR LOGIN [ReportBuilder] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [ReportBuilder]
GO
/****** Object:  View [dbo].[BCC_Service_Payment]    Script Date: 7/15/2025 4:31:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







CREATE view [dbo].[BCC_Service_Payment] as 



----2.2. CHEQUES (CDF/USD)
select
count(case when ope in ('102','103','005','012') and CurrencyISO = 'USD' and TranSide='C'  then (ope) end) C88,
sum(case when ope in ('102','103','005','012') and CurrencyISO = 'USD' and TranSide='C'  then (amount) end) C89,

count(case when ope in ('102','103') and CurrencyISO = 'USD' and TranSide='C'  then (ope) end) C90,
sum(case when ope in ('102','103') and CurrencyISO = 'USD' and TranSide='C'  then (amount) end) C91,

count(case when ope in ('909') and CurrencyISO = 'USD' and TranSide='C'  then (ope) end) C92,
sum(case when ope in ('909') and CurrencyISO = 'USD' and TranSide='C'  then (amount) end ) C93,


count(case when ope in ('102','103','005','012') and CurrencyISO != 'USD' and TranSide='C'  then (ope) end) D88,
sum(case when ope in ('102','103','005','012') and CurrencyISO != 'USD' and TranSide='C'  then (amount) end) D89,

count(case when ope in ('102','103') and CurrencyISO != 'USD' and TranSide='C'  then (ope) end) D90,
sum(case when ope in ('102','103') and CurrencyISO != 'USD' and TranSide='C'  then (amount) end) D91,

count(case when ope in ('909') and CurrencyISO != 'USD' and TranSide='C'  then (ope) end ) D92,
sum(case when ope in ('909') and CurrencyISO != 'USD' and TranSide='C'  then (amount) end)  D93,



---2.3. VIREMENT

sum(case when ope in ('201','204','205','206','207','208','209','210','150','151','152','153','992','994','995','996','997','218','219') and CurrencyISO = 'USD' and TranSide='C'  then (1) end) C101,
sum(case when ope in ('201','204','205','206','207','208','209','210','150','151','152','153','992','994','995','996','997','218','219') and CurrencyISO = 'USD' and TranSide='C'  then (amount) end) C102,

count(case when ope in ('566','506','170','178','180','207') and CurrencyISO = 'USD' and TranSide='D'  then (ope) end) C103,
sum(case when ope in ('566','506','170','178','180','207') and CurrencyISO = 'USD' and TranSide='D'  then (amount) end) C104,

count(case when ope in ('560','505','504','501') and CurrencyISO = 'USD' and TranSide='D'  then (ope) end) C105,
sum(case when ope in ('560','505','504','501') and CurrencyISO = 'USD' and TranSide='D'  then (amount) end) C106,

count(case when ope in ('566','506') and CurrencyISO = 'USD' and TranSide='D'  then (ope) end) C107,
sum(case when ope in ('566','506') and CurrencyISO = 'USD' and TranSide='D'  then (amount) end) C108,

count(case when ope in ('143','144','140','236','235','689','479','480') and CurrencyISO = 'USD' and TranSide='D'  then (ope) end) C109,
sum(case when ope in ('143','144','140','236','235','689','479','480') and CurrencyISO = 'USD' and TranSide='D'  then (amount) end) C110,

count(case when ope in ('170','178','180','207') and CurrencyISO = 'USD' and TranSide='D'  then (ope) end) C111,
sum(case when ope in ('170','178','180','207') and CurrencyISO = 'USD' and TranSide='D'  then (amount) end) C112,





sum(case when ope in ('201','204','205','206','207','208','209','210','150','151','152','153','992','994','995','996','997','218','219') and CurrencyISO = 'CDF' and TranSide='C'  then (1) end) D101,
sum(case when ope in ('201','204','205','206','207','208','209','210','150','151','152','153','992','994','995','996','997','218','219') and CurrencyISO = 'CDF' and TranSide='C'  then (amount) end) D102,

count(case when ope in ('566','506','170','178','180','207') and CurrencyISO != 'USD' and TranSide='D'  then (ope) end) D103,
sum(case when ope in ('566','506','170','178','180','207') and CurrencyISO != 'USD' and TranSide='D'  then (amount) end) D104,

count(case when ope in ('560','505','504','501') and CurrencyISO != 'USD' and TranSide='D'  then (ope) end) D105,
sum(case when ope in ('560','505','504','501') and CurrencyISO != 'USD' and TranSide='D'  then (amount) end) D106,

count(case when ope in ('566','506') and CurrencyISO != 'USD' and TranSide='D'  then (ope) end) D107,
sum(case when ope in ('566','506') and CurrencyISO != 'USD' and TranSide='D'  then (amount) end) D108,

count(case when ope in ('143','144','140','236','235','689','479','480') and CurrencyISO != 'USD' and TranSide='D'  then (ope) end) D109,
sum(case when ope in ('143','144','140','236','235','689','479','480') and CurrencyISO != 'USD' and TranSide='D'  then (amount) end) D110,

count(case when ope in ('170','178','180','207') and CurrencyISO != 'USD' and TranSide='D'  then (ope) end) D111,
sum(case when ope in ('170','178','180','207') and CurrencyISO != 'USD' and TranSide='D'  then (amount) end) D112,



sum(case when ope in ('140','141','142','143','144','145','146','147','479','478','480','291','292','293','294','295','296','297','298','689','479','478','480') and CurrencyISO = 'USD' and TranSide='C'  then (1) end) C134,
sum(case when ope in ('140','141','142','143','144','145','146','147','479','478','480','291','292','293','294','295','296','297','298','689','479','478','480') and CurrencyISO = 'USD' and TranSide='C'  then (amount) end) C135,


count(case when ope in ('566') and CurrencyISO = 'USD' and TranSide='D'  then (ope) end) C136,
sum(case when ope in ('566') and CurrencyISO = 'USD' and TranSide='D'  then (amount) end) C137,

count(case when ope in ('560') and CurrencyISO = 'USD' and TranSide='D'  then (ope) end) C138,
sum(case when ope in ('560') and CurrencyISO = 'USD' and TranSide='D'  then (amount) end) C139,

count(case when ope in ('566') and CurrencyISO = 'USD' and TranSide='D'  then (ope) end) C140,
sum(case when ope in ('566') and CurrencyISO = 'USD' and TranSide='D'  then (amount) end) C141,

count(case when ope in ('291','295','296','992','997','996') and CurrencyISO = 'USD' and TranSide='C'  then (ope) end) C142,
sum(case when ope in ('291','295','296','992','997','996') and CurrencyISO = 'USD' and TranSide='C'  then (amount) end) C143,

count(case when ope in ('170','178','180','207') and CurrencyISO = 'USD' and TranSide='D'  then (ope) end) C144,
sum(case when ope in ('170','178','180','207') and CurrencyISO = 'USD' and TranSide='D'  then (amount) end) C145,




sum(case when ope in ('140','141','142','143','144','145','146','147','479','478','480','291','292','293','294','295','296','297','298','689','479','478','480') and CurrencyISO = 'CDF' and TranSide='C'  then (1) end) D134,
sum(case when ope in ('140','141','142','143','144','145','146','147','479','478','480','291','292','293','294','295','296','297','298','689','479','478','480') and CurrencyISO = 'CDF' and TranSide='C'  then (amount) end) D135,


count(case when ope in ('566') and CurrencyISO != 'USD' and TranSide='D'  then (ope) end) D136,
sum(case when ope in ('566') and CurrencyISO != 'USD' and TranSide='D'  then (amount) end) D137,

count(case when ope in ('560') and CurrencyISO != 'USD' and TranSide='D'  then (ope) end) D138,
sum(case when ope in ('560') and CurrencyISO != 'USD' and TranSide='D'  then (amount) end) D139,

count(case when ope in ('566') and CurrencyISO != 'USD' and TranSide='D'  then (ope) end) D140,
sum(case when ope in ('566') and CurrencyISO != 'USD' and TranSide='D'  then (amount) end) D141,

count(case when ope in ('291','295','296','992','997','996') and CurrencyISO != 'USD' and TranSide='C'  then (ope) end) D142,
sum(case when ope in ('291','295','296','992','997','996') and CurrencyISO != 'USD' and TranSide='C'  then (amount) end) D143,


count(case when ope in ('170','178','180','207') and CurrencyISO != 'USD' and TranSide='D'  then (ope) end) D144,
sum(case when ope in ('170','178','180','207') and CurrencyISO != 'USD' and TranSide='D'  then (amount) end) D145,



----2.4. AVIS DE PRELEVEMENT 

count(case when ope in ('992', '994','993','995','996','997','218','219','225','226','229') and CurrencyISO = 'USD' and TranSide='D'  then (ope) end) C159,
sum(case when ope in ('992', '994','993','995','996','997','218','219','225','226','229') and CurrencyISO = 'USD' and TranSide='D'  then (amount) end) C160,

count(case when ope in ('992', '994','993','995','996','997','218','219','225','226','229') and CurrencyISO != 'USD' and TranSide='D'  then (ope) end) D159,
sum(case when ope in ('992', '994','993','995','996','997','218','219','225','226','229') and CurrencyISO != 'USD' and TranSide='D'  then (amount) end) D160,

count(case when ope in ('999', '180') and CurrencyISO = 'USD' and TranSide='D'  then (ope) end) C161,
sum(case when ope in ('999', '180') and CurrencyISO = 'USD' and TranSide='D'  then (amount) end) C162,

count(case when ope in ('999', '180') and CurrencyISO != 'USD' and TranSide='D'  then (ope) end) D161,
sum(case when ope in ('999', '180') and CurrencyISO != 'USD' and TranSide='D'  then (amount) end) D162



from 


(select distinct SequenceID,OperationID,ledgerdate,TranSide,Amount,CurrencyISO,CurrencyID,AccountID,ope,opid from datawarehouse.dbo.transactionfact a, (select operationcode ope, OperationID opid from datawarehouse.dbo.operationcode) b,(select CurrencyID currid,CurrencyCode,CurrencyISO from datawarehouse.dbo.Currency) c,(select accountid accid, clientbk from DataWarehouse.[dbo].[AccountDim]) d
where  a.ledgerdate between  CONVERT(varchar(10), CONVERT(datetime, DATEADD(DAY,1,EOMONTH(GETDATE(),-2)), 126), 112) and CONVERT(varchar(10), CONVERT(datetime,EOMONTH(GETDATE(),-1) , 126), 112) 

--a.ledgerdate between  '20240801' and '20240831'
and a.OperationID=b.opid  and a.CurrencyID=c.currid  and a.accountid = d.accid and d.clientbk is not null and d.clientbk <> ''

) A


GO
/****** Object:  View [dbo].[CORR_BANK_BALANCE]    Script Date: 7/15/2025 4:31:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE view [dbo].[CORR_BANK_BALANCE] as 

WITH LatestBalanceDate AS (
    SELECT MAX(BalanceDate) AS MaxBalanceDate
    FROM datawarehouse.dbo.AccountFact
),
FilteredAccountFact AS (
    SELECT AccountID, BalanceDate, AccountBalance, AccBalanceUSD, AccBalanceCDF, ExchangeRateUSD, ExchangeRateCDF
    FROM datawarehouse.dbo.AccountFact 
    WHERE BalanceDate = (SELECT MaxBalanceDate FROM LatestBalanceDate) 
),
FilteredAccountClass AS (
    SELECT *
    FROM datawarehouse.dbo.accountclassdim
    WHERE SUBSTRING(AccClassCode, 1, 3) IN ('531', '560') 
      AND LEN(LTRIM(RTRIM(AccClassCode))) = 6


)
SELECT 
    a.BalanceDate,
    a.AccountBalance,
    a.AccBalanceUSD,
    a.AccBalanceCDF,
    a.ExchangeRateUSD,
    a.ExchangeRateCDF,
    b.AccountNumber,
    b.AccClassCode,
    b.AccClass,
    b.AccAgenceCode,
    b.ClientBK,
    b.AccountTitle,
    b.CheckKey,
    b.Currency,
    d.displayname  
FROM FilteredAccountFact a
INNER JOIN --(select * from 
datawarehouse.dbo.accountdim ---where  	substring(accountnumber,1,3) in ('560','553','552')) 
b ON a.AccountID = b.AccountID
INNER JOIN FilteredAccountClass c ON b.AccClassCode = c.AccClassCode
LEFT JOIN datawarehouse.dbo.client_dim d ON b.ClientID = d.ClientID

--where AccBalanceCDF!=0


;


GO
/****** Object:  View [dbo].[DAILY STOCK ALERT]    Script Date: 7/15/2025 4:31:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


 CREATE VIEW [dbo].[DAILY STOCK ALERT] AS

  SELECT DISTINCT
  GETDATE() AS [Report_Date]
  ,B.[BranchCode]
  ,C.[ItemCode]
  ,C.[ItemDesc1] AS [Item Description]
  ,C.[ItemClassCode]
  ,CAST([AvailableQty] AS INT)[AvailableQty]
  ,CAST([ReservedQty] AS INT)[ReservedQty]
  ,CAST([PhysicalQty] AS INT)[PhysicalQty]
  ,CAST([AvgWeightedPrice] AS DECIMAL(30,2)) AS [Unit Price]
  ,A.[UserID]
  ,D.DateValue [Last Entry Date]
  ,E.DateValue [Last Release Date]
  ,F.[STOCK ALERTE] AS [First Alert]
  ,F.[STOCK CRITIQUE] AS [Critical Alert]
  ,CASE WHEN [AvailableQty]<=[STOCK CRITIQUE] THEN 'Critical'
  WHEN [AvailableQty]>[STOCK CRITIQUE] AND  [AvailableQty]<[STOCK ALERTE] THEN 'Alert' 
  ELSE 'Available' END AS [Alert Type]

  FROM [DataWarehouse].[dbo].[StockFact] A

  INNER JOIN [DataWarehouse].[dbo].[Branch] B		ON A.[BranchID]=B.[BranchID]
  INNER JOIN [DataWarehouse].[dbo].[Item] C			ON A.[ItemID]=C.[ItemID]  
  LEFT JOIN [DataWarehouse].[DBO].[DateDim] D		ON A.[LastEntryDate]= D.[DateKey]
  LEFT JOIN [DataWarehouse].[DBO].[DateDim] E		ON A.[LastReleaseDate]= E.[DateKey]
  INNER JOIN [RBK_RS].[dbo].[XRef_Stock_Alert] F	ON C.[ItemCode]=F.[CODE ARTICLE] AND B.[BranchCode]=F.[Agence]

  --ORDER BY C.[ItemDesc1]

GO
/****** Object:  Table [dbo].[BCC_Service_Payment_2_1_2_5]    Script Date: 7/15/2025 4:31:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BCC_Service_Payment_2_1_2_5](
	[C88] [int] NULL,
	[C89] [decimal](38, 4) NULL,
	[C90] [int] NULL,
	[C91] [decimal](38, 4) NULL,
	[C92] [int] NULL,
	[C93] [decimal](38, 4) NULL,
	[D88] [int] NULL,
	[D89] [decimal](38, 4) NULL,
	[D90] [int] NULL,
	[D91] [decimal](38, 4) NULL,
	[D92] [int] NULL,
	[D93] [decimal](38, 4) NULL,
	[C101] [int] NULL,
	[C102] [decimal](38, 4) NULL,
	[C103] [int] NULL,
	[C104] [decimal](38, 4) NULL,
	[C105] [int] NULL,
	[C106] [decimal](38, 4) NULL,
	[C107] [int] NULL,
	[C108] [decimal](38, 4) NULL,
	[C109] [int] NULL,
	[C110] [decimal](38, 4) NULL,
	[C111] [int] NULL,
	[C112] [decimal](38, 4) NULL,
	[D101] [int] NULL,
	[D102] [decimal](38, 4) NULL,
	[D103] [int] NULL,
	[D104] [decimal](38, 4) NULL,
	[D105] [int] NULL,
	[D106] [decimal](38, 4) NULL,
	[D107] [int] NULL,
	[D108] [decimal](38, 4) NULL,
	[D109] [int] NULL,
	[D110] [decimal](38, 4) NULL,
	[D111] [int] NULL,
	[D112] [decimal](38, 4) NULL,
	[C134] [int] NULL,
	[C135] [decimal](38, 4) NULL,
	[C136] [int] NULL,
	[C137] [decimal](38, 4) NULL,
	[C138] [int] NULL,
	[C139] [decimal](38, 4) NULL,
	[C140] [int] NULL,
	[C141] [decimal](38, 4) NULL,
	[C142] [int] NULL,
	[C143] [decimal](38, 4) NULL,
	[C144] [int] NULL,
	[C145] [decimal](38, 4) NULL,
	[D134] [int] NULL,
	[D135] [decimal](38, 4) NULL,
	[D136] [int] NULL,
	[D137] [decimal](38, 4) NULL,
	[D138] [int] NULL,
	[D139] [decimal](38, 4) NULL,
	[D140] [int] NULL,
	[D141] [decimal](38, 4) NULL,
	[D142] [int] NULL,
	[D143] [decimal](38, 4) NULL,
	[D144] [int] NULL,
	[D145] [decimal](38, 4) NULL,
	[C159] [int] NULL,
	[C160] [decimal](38, 4) NULL,
	[D159] [int] NULL,
	[D160] [decimal](38, 4) NULL,
	[Start_date] [date] NULL,
	[end_date] [date] NULL,
	[snapshot_date] [datetime] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BCC_Service_Payment_Sus]    Script Date: 7/15/2025 4:31:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BCC_Service_Payment_Sus](
	[SC88] [int] NULL,
	[SC89] [decimal](38, 4) NULL,
	[SC90] [int] NULL,
	[SC91] [decimal](38, 4) NULL,
	[SC92] [int] NULL,
	[SC93] [decimal](38, 4) NULL,
	[SD88] [int] NULL,
	[SD89] [decimal](38, 4) NULL,
	[SD90] [int] NULL,
	[SD91] [decimal](38, 4) NULL,
	[SD92] [int] NULL,
	[SD93] [decimal](38, 4) NULL,
	[SC101] [int] NULL,
	[SC102] [decimal](38, 4) NULL,
	[SC103] [int] NULL,
	[SC104] [decimal](38, 4) NULL,
	[SC105] [int] NULL,
	[SC106] [decimal](38, 4) NULL,
	[SC107] [int] NULL,
	[SC108] [decimal](38, 4) NULL,
	[SC109] [int] NULL,
	[SC110] [decimal](38, 4) NULL,
	[SC111] [int] NULL,
	[SC112] [decimal](38, 4) NULL,
	[SD101] [int] NULL,
	[SD102] [decimal](38, 4) NULL,
	[SD103] [int] NULL,
	[SD104] [decimal](38, 4) NULL,
	[SD105] [int] NULL,
	[SD106] [decimal](38, 4) NULL,
	[SD107] [int] NULL,
	[SD108] [decimal](38, 4) NULL,
	[SD109] [int] NULL,
	[SD110] [decimal](38, 4) NULL,
	[SD111] [int] NULL,
	[SD112] [decimal](38, 4) NULL,
	[SC134] [int] NULL,
	[SC135] [decimal](38, 4) NULL,
	[SC136] [int] NULL,
	[SC137] [decimal](38, 4) NULL,
	[SC138] [int] NULL,
	[SC139] [decimal](38, 4) NULL,
	[SC140] [int] NULL,
	[SC141] [decimal](38, 4) NULL,
	[SC142] [int] NULL,
	[SC143] [decimal](38, 4) NULL,
	[SC144] [int] NULL,
	[SC145] [decimal](38, 4) NULL,
	[SD134] [int] NULL,
	[SD135] [decimal](38, 4) NULL,
	[SD136] [int] NULL,
	[SD137] [decimal](38, 4) NULL,
	[SD138] [int] NULL,
	[SD139] [decimal](38, 4) NULL,
	[SD140] [int] NULL,
	[SD141] [decimal](38, 4) NULL,
	[SD142] [int] NULL,
	[SD143] [decimal](38, 4) NULL,
	[SD144] [int] NULL,
	[SD145] [decimal](38, 4) NULL,
	[SC159] [int] NULL,
	[SC160] [decimal](38, 4) NULL,
	[SD159] [int] NULL,
	[SD160] [decimal](38, 4) NULL,
	[MOIS] [varchar](6) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[PROC_BCC_Service_Payment]    Script Date: 7/15/2025 4:31:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[PROC_BCC_Service_Payment] 

as 
begin 

insert into BCC_Service_Payment_2_1_2_5
----2.2. CHEQUES (CDF/USD)
select
count(case when ope in ('102','103','005','012') and CurrencyISO = 'USD' and TranSide='C'  then (ope) end) C88,
sum(case when ope in ('102','103','005','012') and CurrencyISO = 'USD' and TranSide='C'  then (amount) end) C89,

count(case when ope in ('102','103') and CurrencyISO = 'USD' and TranSide='C'  then (ope) end) C90,
sum(case when ope in ('102','103') and CurrencyISO = 'USD' and TranSide='C'  then (amount) end) C91,

count(case when ope in ('909') and CurrencyISO = 'USD' and TranSide='C'  then (ope) end) C92,
sum(case when ope in ('909') and CurrencyISO = 'USD' and TranSide='C'  then (amount) end ) C93,


count(case when ope in ('102','103','005','012') and CurrencyISO != 'USD' and TranSide='C'  then (ope) end) D88,
sum(case when ope in ('102','103','005','012') and CurrencyISO != 'USD' and TranSide='C'  then (amount) end) D89,

count(case when ope in ('102','103') and CurrencyISO != 'USD' and TranSide='C'  then (ope) end) D90,
sum(case when ope in ('102','103') and CurrencyISO != 'USD' and TranSide='C'  then (amount) end) D91,

count(case when ope in ('909') and CurrencyISO != 'USD' and TranSide='C'  then (ope) end ) D92,
sum(case when ope in ('909') and CurrencyISO != 'USD' and TranSide='C'  then (amount) end)  D93,



---2.3. VIREMENT

count(case when ope in ('143','144','140','236','235','689','479','480') and CurrencyISO = 'USD' and TranSide='C'  then (ope) end) C101,
sum(case when ope in ('143','144','140','236','235','689','479','480') and CurrencyISO = 'USD' and TranSide='C'  then (amount) end) C102,

count(case when ope in ('566','506','170','178','180','207') and CurrencyISO = 'USD' and TranSide='D'  then (ope) end) C103,
sum(case when ope in ('566','506','170','178','180','207') and CurrencyISO = 'USD' and TranSide='D'  then (amount) end) C104,

count(case when ope in ('560','505','504','501') and CurrencyISO = 'USD' and TranSide='D'  then (ope) end) C105,
sum(case when ope in ('560','505','504','501') and CurrencyISO = 'USD' and TranSide='D'  then (amount) end) C106,

count(case when ope in ('566','506') and CurrencyISO = 'USD' and TranSide='D'  then (ope) end) C107,
sum(case when ope in ('566','506') and CurrencyISO = 'USD' and TranSide='D'  then (amount) end) C108,

count(case when ope in ('143','144','140','236','235','689','479','480') and CurrencyISO = 'USD' and TranSide='D'  then (ope) end) C109,
sum(case when ope in ('143','144','140','236','235','689','479','480') and CurrencyISO = 'USD' and TranSide='D'  then (amount) end) C110,

count(case when ope in ('170','178','180','207') and CurrencyISO = 'USD' and TranSide='D'  then (ope) end) C111,
sum(case when ope in ('170','178','180','207') and CurrencyISO = 'USD' and TranSide='D'  then (amount) end) C112,





count(case when ope in ('143','144','140','236','235','689','479','480') and CurrencyISO != 'USD' and TranSide='C'  then (ope) end) D101,
sum(case when ope in ('143','144','140','236','235','689','479','480') and CurrencyISO != 'USD' and TranSide='C'  then (amount) end) D102,

count(case when ope in ('566','506','170','178','180','207') and CurrencyISO != 'USD' and TranSide='D'  then (ope) end) D103,
sum(case when ope in ('566','506','170','178','180','207') and CurrencyISO != 'USD' and TranSide='D'  then (amount) end) D104,

count(case when ope in ('560','505','504','501') and CurrencyISO != 'USD' and TranSide='D'  then (ope) end) D105,
sum(case when ope in ('560','505','504','501') and CurrencyISO != 'USD' and TranSide='D'  then (amount) end) D106,

count(case when ope in ('566','506') and CurrencyISO != 'USD' and TranSide='D'  then (ope) end) D107,
sum(case when ope in ('566','506') and CurrencyISO != 'USD' and TranSide='D'  then (amount) end) D108,

count(case when ope in ('143','144','140','236','235','689','479','480') and CurrencyISO != 'USD' and TranSide='D'  then (ope) end) D109,
sum(case when ope in ('143','144','140','236','235','689','479','480') and CurrencyISO != 'USD' and TranSide='D'  then (amount) end) D110,

count(case when ope in ('170','178','180','207') and CurrencyISO != 'USD' and TranSide='D'  then (ope) end) D111,
sum(case when ope in ('170','178','180','207') and CurrencyISO != 'USD' and TranSide='D'  then (amount) end) D112,



count(case when ope in ('291','295','296','992','997','996') and CurrencyISO = 'USD' and TranSide='C'  then (ope) end) C134,
sum(case when ope in ('291','295','296','992','997','996') and CurrencyISO = 'USD' and TranSide='C'  then (amount) end) C135,


count(case when ope in ('566') and CurrencyISO = 'USD' and TranSide='D'  then (ope) end) C136,
sum(case when ope in ('566') and CurrencyISO = 'USD' and TranSide='D'  then (amount) end) C137,

count(case when ope in ('560') and CurrencyISO = 'USD' and TranSide='D'  then (ope) end) C138,
sum(case when ope in ('560') and CurrencyISO = 'USD' and TranSide='D'  then (amount) end) C139,

count(case when ope in ('560') and CurrencyISO = 'USD' and TranSide='D'  then (ope) end) C140,
sum(case when ope in ('560') and CurrencyISO = 'USD' and TranSide='D'  then (amount) end) C141,

count(case when ope in ('291','295','296','992','997','996') and CurrencyISO = 'USD' and TranSide='C'  then (ope) end) C142,
sum(case when ope in ('291','295','296','992','997','996') and CurrencyISO = 'USD' and TranSide='C'  then (amount) end) C143,

count(case when ope in ('170','178','180','207') and CurrencyISO = 'USD' and TranSide='D'  then (ope) end) C144,
sum(case when ope in ('170','178','180','207') and CurrencyISO = 'USD' and TranSide='D'  then (amount) end) C145,




count(case when ope in ('291','295','296','992','997','996') and CurrencyISO != 'USD' and TranSide='C'  then (ope) end) D134,
sum(case when ope in ('291','295','296','992','997','996') and CurrencyISO != 'USD' and TranSide='C'  then (amount) end) D135,


count(case when ope in ('566') and CurrencyISO != 'USD' and TranSide='D'  then (ope) end) D136,
sum(case when ope in ('566') and CurrencyISO != 'USD' and TranSide='D'  then (amount) end) D137,

count(case when ope in ('560') and CurrencyISO != 'USD' and TranSide='D'  then (ope) end) D138,
sum(case when ope in ('560') and CurrencyISO != 'USD' and TranSide='D'  then (amount) end) D139,

count(case when ope in ('560') and CurrencyISO != 'USD' and TranSide='D'  then (ope) end) D140,
sum(case when ope in ('560') and CurrencyISO != 'USD' and TranSide='D'  then (amount) end) D141,

count(case when ope in ('291','295','296','992','997','996') and CurrencyISO != 'USD' and TranSide='C'  then (ope) end) D142,
sum(case when ope in ('291','295','296','992','997','996') and CurrencyISO != 'USD' and TranSide='C'  then (amount) end) D143,


count(case when ope in ('170','178','180','207') and CurrencyISO != 'USD' and TranSide='D'  then (ope) end) D144,
sum(case when ope in ('170','178','180','207') and CurrencyISO != 'USD' and TranSide='D'  then (amount) end) D145,



----2.4. AVIS DE PRELEVEMENT 

count(case when ope in ('992','997') and CurrencyISO = 'USD' and TranSide='D'  then (ope) end) C159,
sum(case when ope in ('992','997') and CurrencyISO = 'USD' and TranSide='D'  then (amount) end) C160,

count(case when ope in ('992','997') and CurrencyISO != 'USD' and TranSide='D'  then (ope) end) D159,
sum(case when ope in ('992','997') and CurrencyISO != 'USD' and TranSide='D'  then (amount) end) D160,

DATEADD(DAY,1,EOMONTH(GETDATE(),-2)) Start_date,
EOMONTH(GETDATE(),-1) end_date,
GETDATE() snapshot_date


from 


(select * from datawarehouse.dbo.transactionfact a, (select operationcode ope, OperationID opid from datawarehouse.dbo.operationcode) b,(select CurrencyID currid,CurrencyCode,CurrencyISO from datawarehouse.dbo.Currency) c  
where a.OperationID=b.opid  and a.CurrencyID=c.currid and a.ledgerdate between CONVERT(varchar(10), CONVERT(datetime, DATEADD(DAY,1,EOMONTH(GETDATE(),-2)), 126), 112) and CONVERT(varchar(10), CONVERT(datetime,EOMONTH(GETDATE(),-1) , 126), 112) 
) A

end;
GO
