USE [master]
GO
/****** Object:  Database [CDC]    Script Date: 7/15/2025 4:51:56 PM ******/
CREATE DATABASE [CDC]
 CONTAINMENT = NONE
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CDC].[dbo].[sp_fulltext_database] @action = 'disable'
end
GO
USE [CDC]
GO
/****** Object:  User [cdc]    Script Date: 7/15/2025 4:51:57 PM ******/
CREATE USER [cdc] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[cdc]
GO
ALTER ROLE [db_owner] ADD MEMBER [cdc]
GO
/****** Object:  Schema [cdc]    Script Date: 7/15/2025 4:51:58 PM ******/
CREATE SCHEMA [cdc]
GO
/****** Object:  UserDefinedFunction [cdc].[fn_cdc_get_all_changes_dbo_AccOfficer_CDC]    Script Date: 7/15/2025 4:51:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	create function [cdc].[fn_cdc_get_all_changes_dbo_AccOfficer_CDC]
	(	@from_lsn binary(10),
		@to_lsn binary(10),
		@row_filter_option nvarchar(30)
	)
	returns table
	return
	
	select NULL as __$start_lsn,
		NULL as __$seqval,
		NULL as __$operation,
		NULL as __$update_mask, NULL as [AccOfficerID], NULL as [BranchCode], NULL as [AccOfficerCode], NULL as [OfficerName], NULL as [Email], NULL as [Phone], NULL as [BatchID], NULL as [BatchDate], NULL as [CreatedOn], NULL as [UpdatedOn], NULL as [SystemCode], NULL as [RowHash], NULL as [WorkflowName]
	where ( [sys].[fn_cdc_check_parameters]( N'dbo_AccOfficer_CDC', @from_lsn, @to_lsn, lower(rtrim(ltrim(@row_filter_option))), 0) = 0)

	union all
	
	select t.__$start_lsn as __$start_lsn,
		t.__$seqval as __$seqval,
		t.__$operation as __$operation,
		t.__$update_mask as __$update_mask, t.[AccOfficerID], t.[BranchCode], t.[AccOfficerCode], t.[OfficerName], t.[Email], t.[Phone], t.[BatchID], t.[BatchDate], t.[CreatedOn], t.[UpdatedOn], t.[SystemCode], t.[RowHash], t.[WorkflowName]
	from [cdc].[dbo_AccOfficer_CDC_CT] t with (nolock)    
	where (lower(rtrim(ltrim(@row_filter_option))) = 'all')
	    and ( [sys].[fn_cdc_check_parameters]( N'dbo_AccOfficer_CDC', @from_lsn, @to_lsn, lower(rtrim(ltrim(@row_filter_option))), 0) = 1)
		and (t.__$operation = 1 or t.__$operation = 2 or t.__$operation = 4)
		and (t.__$start_lsn <= @to_lsn)
		and (t.__$start_lsn >= @from_lsn)
		
	union all	
		
	select t.__$start_lsn as __$start_lsn,
		t.__$seqval as __$seqval,
		t.__$operation as __$operation,
		t.__$update_mask as __$update_mask, t.[AccOfficerID], t.[BranchCode], t.[AccOfficerCode], t.[OfficerName], t.[Email], t.[Phone], t.[BatchID], t.[BatchDate], t.[CreatedOn], t.[UpdatedOn], t.[SystemCode], t.[RowHash], t.[WorkflowName]
	from [cdc].[dbo_AccOfficer_CDC_CT] t with (nolock)     
	where (lower(rtrim(ltrim(@row_filter_option))) = 'all update old')
	    and ( [sys].[fn_cdc_check_parameters]( N'dbo_AccOfficer_CDC', @from_lsn, @to_lsn, lower(rtrim(ltrim(@row_filter_option))), 0) = 1)
		and (t.__$operation = 1 or t.__$operation = 2 or t.__$operation = 4 or
		     t.__$operation = 3 )
		and (t.__$start_lsn <= @to_lsn)
		and (t.__$start_lsn >= @from_lsn)
	
GO
/****** Object:  UserDefinedFunction [cdc].[fn_cdc_get_all_changes_dbo_AccOfficer_CDC_test]    Script Date: 7/15/2025 4:51:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	create function [cdc].[fn_cdc_get_all_changes_dbo_AccOfficer_CDC_test]
	(	@from_lsn binary(10),
		@to_lsn binary(10),
		@row_filter_option nvarchar(30)
	)
	returns table
	return
	
	select NULL as __$start_lsn,
		NULL as __$seqval,
		NULL as __$operation,
		NULL as __$update_mask, NULL as [AccOfficerID], NULL as [BranchCode], NULL as [AccOfficerCode], NULL as [OfficerName]
	where ( [sys].[fn_cdc_check_parameters]( N'dbo_AccOfficer_CDC_test', @from_lsn, @to_lsn, lower(rtrim(ltrim(@row_filter_option))), 0) = 0)

	union all
	
	select t.__$start_lsn as __$start_lsn,
		t.__$seqval as __$seqval,
		t.__$operation as __$operation,
		t.__$update_mask as __$update_mask, t.[AccOfficerID], t.[BranchCode], t.[AccOfficerCode], t.[OfficerName]
	from [cdc].[dbo_AccOfficer_CDC_test_CT] t with (nolock)    
	where (lower(rtrim(ltrim(@row_filter_option))) = 'all')
	    and ( [sys].[fn_cdc_check_parameters]( N'dbo_AccOfficer_CDC_test', @from_lsn, @to_lsn, lower(rtrim(ltrim(@row_filter_option))), 0) = 1)
		and (t.__$operation = 1 or t.__$operation = 2 or t.__$operation = 4)
		and (t.__$start_lsn <= @to_lsn)
		and (t.__$start_lsn >= @from_lsn)
		
	union all	
		
	select t.__$start_lsn as __$start_lsn,
		t.__$seqval as __$seqval,
		t.__$operation as __$operation,
		t.__$update_mask as __$update_mask, t.[AccOfficerID], t.[BranchCode], t.[AccOfficerCode], t.[OfficerName]
	from [cdc].[dbo_AccOfficer_CDC_test_CT] t with (nolock)     
	where (lower(rtrim(ltrim(@row_filter_option))) = 'all update old')
	    and ( [sys].[fn_cdc_check_parameters]( N'dbo_AccOfficer_CDC_test', @from_lsn, @to_lsn, lower(rtrim(ltrim(@row_filter_option))), 0) = 1)
		and (t.__$operation = 1 or t.__$operation = 2 or t.__$operation = 4 or
		     t.__$operation = 3 )
		and (t.__$start_lsn <= @to_lsn)
		and (t.__$start_lsn >= @from_lsn)
	
GO
/****** Object:  Table [dbo].[AccOfficer_CDC]    Script Date: 7/15/2025 4:51:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccOfficer_CDC](
	[AccOfficerID] [smallint] NULL,
	[BranchCode] [varchar](6) NULL,
	[AccOfficerCode] [varchar](10) NULL,
	[OfficerName] [varchar](40) NULL,
	[Email] [varchar](100) NULL,
	[Phone] [varchar](20) NULL,
	[BatchID] [int] NULL,
	[BatchDate] [datetime] NULL,
	[CreatedOn] [date] NULL,
	[UpdatedOn] [date] NULL,
	[SystemCode] [varchar](20) NULL,
	[RowHash] [varbinary](40) NULL,
	[WorkflowName] [varchar](64) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AccOfficer_CDC_test]    Script Date: 7/15/2025 4:51:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccOfficer_CDC_test](
	[AccOfficerID] [smallint] NULL,
	[BranchCode] [varchar](6) NULL,
	[AccOfficerCode] [varchar](10) NULL,
	[OfficerName] [varchar](40) NULL
) ON [PRIMARY]
GO
