USE [master]
GO
/****** Object:  Database [Debutant2]    Script Date: 7/15/2025 5:08:25 PM ******/
CREATE DATABASE [Debutant2]
 CONTAINMENT = NONE
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Debutant2].[dbo].[sp_fulltext_database] @action = 'disable'
end
GO
USE [Debutant2]
GO
/****** Object:  Table [dbo].[credit_card]    Script Date: 7/15/2025 5:08:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[credit_card](
	[CARD_NUMBER] [varchar](19) NULL,
	[TRX] [float] NULL,
	[AMOUNT] [float] NULL,
	[TRANSACTION_MONTH] [varchar](7) NULL,
	[TERMINAL_TYPE] [varchar](20) NULL,
	[RESPONSE_CODE] [varchar](3) NULL,
	[CURRENCY_CODE] [varchar](3) NULL,
	[SOURCE_BANK] [smallint] NULL,
	[DEST_BANK] [smallint] NULL,
	[CODE_PAYS] [varchar](4) NULL,
	[MCC] [varchar](4) NULL,
	[TYPE_OF_ACTIVITY] [varchar](14) NULL,
	[TYPE_RESPONSE] [varchar](18) NULL,
	[DEST_BANK_TRX_STATUS] [varchar](9) NULL,
	[CURRENCY] [varchar](40) NULL,
	[DEV] [varchar](3) NULL,
	[INTERFACE] [varchar](6) NULL,
	[PAYS] [varchar](80) NULL
) ON [PRIMARY]
GO
